#  Data Analysis on Zomato Restaurant Data

# Features of the Data

Item Name : name of the food item.

Item Description : Description of the food item. 

Price : Price of the food item.

Must try tag : Binary variable stating whether the food item is recommended or not.

In [2]:
import pandas as pd
import numpy as np

In [3]:
df  = pd.read_csv('products.csv')

In [4]:
df.head()

,Item_Name,Item_Description,Item_Price,Must_Try
0,Dal Makhani Combo - 2,24-Hour Dal Makhani (500g) + Soya Angaar Chaap...,₹700,False
1,Gosht Dum Biryani {600g},A master piece from the kingdom of Rampur this...,₹590,True
2,24-Hour Dal Makhani {550g},Classic black lentils slow cooked over night w...,₹390,True
3,Murgh Kachi Biryani {600g},Boneless chicken cooked in true Hydrabadi styl...,₹490,False
4,Butter Chicken {550g},Classic boneless chicken tikka tossed in butte...,₹450,True

In [5]:
df.isnull()

    Item_Name  Item_Description  Item_Price  Must_Try
0       False             False       False     False
1       False             False       False     False
2       False             False       False     False
3       False             False       False     False
4       False             False       False     False
..        ...               ...         ...       ...
83      False              True       False     False
84      False              True       False     False
85      False              True       False     False
86      False              True       False     False
87      False              True       False     False

[88 rows x 4 columns]

In [6]:
df.isnull().sum()

Item_Name           0
Item_Description    8
Item_Price          0
Must_Try            0
dtype: int64

In [7]:
df.dropna(inplace=True)

In [8]:
df.isnull().sum()

Item_Name           0
Item_Description    0
Item_Price          0
Must_Try            0
dtype: int64

In [9]:
df['Item_Description']

0     24-Hour Dal Makhani (500g) + Soya Angaar Chaap...
1     A master piece from the kingdom of Rampur this...
2     Classic black lentils slow cooked over night w...
3     Boneless chicken cooked in true Hydrabadi styl...
4     Classic boneless chicken tikka tossed in butte...
                            ...
77    Kashmiri Subz Biryani (1200g) + Burhani Raita ...
78    Butter Chicken (1000g) + Choice Of bread (8 pc...
79    Murgh Kachi Biryani [1.2 kg]+Burhani Raita [25...
80    A classic sweet lassi perfect to cool down the...
81    A perfect combination of mango and ginger with...
Name: Item_Description, Length: 80, dtype: object

In [10]:
from sklearn.feature_extraction.text import CountVectorizer

In [11]:
def get_top_words(x):
    vec = CountVectorizer().fit(x)
    bow = vec.transform(x)
    sum_words = bow.sum(axis=0)
    word_freq = [(word, sum_words[0, idx]) for word, idx in vec.vocabulary_.items()]
    word_freq = sorted(word_freq, key=lambda x: x[1], reverse=True)
    return word_freq[:]

In [12]:
words = get_top_words(df['Item_Description'])

In [13]:
words

[('with', 41),
 ('of', 39),
 ('and', 39),
 ('in', 34),
 ('bread', 24),
 ('choice', 22),
 ('chicken', 19),
 ('classic', 17),
 ('makhani', 16),
 ('cooked', 16),
 ('pcs', 14),
 ('butter', 12),
 ('boneless', 12),
 ('flavoured', 12),
 ('flour', 11),
 ('paneer', 11),
 ('soya', 10),
 ('marinated', 10),
 ('chaap', 9),
 ('made', 9),
 ('biryani', 8),
 ('coconut', 8),
 ('phirni', 8),
 ('dessert', 8),
 ('angaar', 7),
 ('creamy', 7),
 ('raita', 7),
 ('24', 6),
 ('hour', 6),
 ('dal', 6),
 ('from', 6),
 ('the', 6),
 ('tossed', 6),
 ('spices', 6),
 ('cashew', 6),
 ('refined', 6),
 ('tandoor', 6),
 ('wrapped', 6),
 ('burhani', 6),
 ('100g', 6),
 ('slow', 5),
 ('tikka', 5),
 ('gravy', 5),
 ('dried', 5),
 ('roasted', 5),
 ('300g', 5),
 ('cheese', 5),
 ('chargrilled', 5),
 ('on', 5),
 ('green', 5),
 ('chocolate', 5),
 ('mousse', 5),
 ('srikhand', 5),
 ('whole', 5),
 ('wheat', 5),
 ('200g', 4),
 ('tomatoes', 4),
 ('buttery', 4),
 ('leg', 4),
 ('blend', 4),
 ('coated', 4),
 ('yoghurt', 4),
 ('mix', 4),
 ('lamb', 4),
 ('garlic', 4),
 ('1000g', 4),
 ('peppers', 4),
 ('casing', 4),
 ('murgh', 4),
 ('roti', 4),
 ('strawberry', 4),
 ('500g', 3),
 ('this', 3),
 ('cream', 3),
 ('basmati', 3),
 ('rice', 3),
 ('250', 3),
 ('grams', 3),
 ('paste', 3),
 ('250g', 3),
 ('batons', 3),
 ('cottage', 3),
 ('inside', 3),
 ('special', 3),
 ('kalonji', 3),
 ('beetroot', 3),
 ('an', 3),
 ('ajwain', 3),
 ('spinach', 3),
 ('kashmiri', 3),
 ('subz', 3),
 ('mango', 3),
 ('kachi', 3),
 ('master', 2),
 ('piece', 2),
 ('kingdom', 2),
 ('rampur', 2),
 ('is', 2),
 ('black', 2),
 ('lentils', 2),
 ('over', 2),
 ('night', 2),
 ('true', 2),
 ('hydrabadi', 2),
 ('style', 2),
 ('saffron', 2),
 ('2pcs', 2),
 ('nut', 2),
 ('all', 2),
 ('king', 2),
 ('kebabs', 2),
 ('bone', 2),
 ('hung', 2),
 ('balanced', 2),
 ('lababdar', 2),
 ('creating', 2),
 ('fenugreek', 2),
 ('curry', 2),
 ('extra', 2),
 ('tender', 2),
 ('flavourful', 2),
 ('pressure', 2),
 ('cooker', 2),
 ('smothered', 2),
 ('chopped', 2),
 ('coriander', 2),
 ('sigri', 2),
 ('grilled', 2),
 ('shashlik', 2),
 ('pineapple', 2),
 ('juicy', 2),
 ('kebab', 2),
 ('take', 2),
 ('topped', 2),
 ('tempting', 2),
 ('tangy', 2),
 ('loaded', 2),
 ('roll', 2),
 ('600g', 2),
 ('nihari', 2),
 ('550g', 2),
 ('khamiri', 2),
 ('or', 2),
 ('haleem', 2),
 ('500', 2),
 ('kharmiri', 2),
 ('royal', 2),
 ('along', 2),
 ('sautéed', 2),
 ('tomato', 2),
 ('rich', 2),
 ('onion', 2),
 ('dish', 2),
 ('fresh', 2),
 ('to', 2),
 ('layered', 2),
 ('sweet', 2),
 ('perfect', 2),
 ('100gx2', 1),
 ('preparation', 1),
 ('peas', 1),
 ('cauliflower', 1),
 ('carrot', 1),
 ('french', 1),
 ('beans', 1),
 ('vegetarian', 1),
 ('delicacy', 1),
 ('served', 1),
 ('within', 1),
 ('mouth', 1),
 ('watering', 1),
 ('khurchan', 1),
 ('mustard', 1),
 ('seeds', 1),
 ('punjabi', 1),
 ('palak', 1),
 ('cashews', 1),
 ('khoya', 1),
 ('soft', 1),
 ('cubes', 1),
 ('slices', 1),
 ('julienne', 1),
 ('overnight', 1),
 ('cereals', 1),
 ('lentil', 1),
 ('aromatic', 1),
 ('traditionally', 1),
 ('breakfast', 1),
 ('by', 1),
 ('cooks', 1),
 ('awadh', 1),
 ('pieces', 1),
 ('soaked', 1),
 ('split', 1),
 ('bengal', 1),
 ('gram', 1),
 ('yogurt', 1),
 ('pepper', 1),
 ('marinade', 1),
 ('unique', 1),
 ('yellow', 1),
 ('chilli', 1),
 ('cumin', 1),
 ('powder', 1),
 ('tempered', 1),
 ('perfection', 1),
 ('ghee', 1),
 ('silky', 1),
 ('paired', 1),
 ('paper', 1),
 ('thin', 1),
 ('sprinkled', 1),
 ('delicate', 1),
 ('fermented', 1),
 ('milk', 1),
 ('1200g', 1),
 ('kg', 1),
 ('x4', 1),
 ('lassi', 1),
 ('cool', 1),
 ('down', 1),
 ('heat', 1),
 ('combination', 1),
 ('ginger', 1)]

In [14]:
df1 = pd.DataFrame(words, columns=['Word','Frequency'])

In [15]:
df1

            Word  Frequency
0           with         41
1             of         39
2            and         39
3             in         34
4          bread         24
..           ...        ...
219         cool          1
220         down          1
221         heat          1
222  combination          1
223       ginger          1

[224 rows x 2 columns]

In [16]:
df1.to_excel("text_freq.xls")